<div class="admin-dashboard">
    <h1 class="dashboard-header">Admin Dashboard</h1>
    <div class="dashboard-intro">
      <p>Welcome to the admin panel! Manage various aspects of the application below.</p>
    </div>
    <div class="dashboard-container" >
      @for (card of cards; track card.title) {
        <div class="dashboard-section">
          <app-card
            [imageUrl]="card.imageUrl"
            [title]="card.title"
            [description]="card.description"
            [links]="card.link1">
          </app-card>
        </div>
      }
    </div>
  </div>
  