<div class="manager-dashboard-container">
    <h1 class="dashboard-header">Manager Dashboard</h1>
  
    <div class="dashboard-intro">
      <p>Welcome to the manager panel! Manage the masters program and more below.</p>
    </div>
  
    <div class="dashboard-sections">
      <div class="dashboard-section option">
        <i class="fa fa-graduation-cap"></i>
        <p>Manage masters, including adding, updating, and deleting master programs.</p>
        <app-manage-master></app-manage-master>
        <button routerLink="/manager/add-master" class="section-btn">Add Master</button>
      </div>
    </div>
  </div>
  