<div class="container">
  <div class="card">
    <div class="profile-section">
      <div class="profile-image">
        <img src="https://img.icons8.com/bubbles/100/000000/user.png" alt="User-Profile-Image">

      </div>
      <div class="profile-info">
        <h2>{{ user?.fullname }}</h2>
      </div>
      <p class="title">{{roles[0].name}}</p>
    </div>

    <div class="info-section">
      <div class="section-header">
        <h3>Information</h3>
      </div>
      <div class="info-grid">
        <form [formGroup]="profileForm">
          <div class="info-item">
            <div class="info-display" *ngIf="!editMode['email']">
              <div>
                <p class="label">Email</p>
                <p class="value">{{ user?.email }}</p>
              </div>
              <button class="edit-btn small" (click)="toggleEdit('email')">Edit</button>
            </div>
            <div class="edit-form" *ngIf="editMode['email']">
              <input type="email" formControlName="email">
              <div class="form-buttons">
                <button (click)="saveField('email')">Save</button>
                <button (click)="toggleEdit('email')">Cancel</button>
              </div>
            </div>
          </div>

          <div class="info-item">
            <div class="info-display" *ngIf="!editMode['fullname']">
              <div>
                <p class="label">Full Name</p>
                <p class="value">{{ user?.fullname }}</p>
              </div>
              <button class="edit-btn small" (click)="toggleEdit('fullname')">Edit</button>
            </div>
            <div class="edit-form" *ngIf="editMode['fullname']">
              <input type="text" formControlName="fullname">
              <div class="form-buttons">
                <button (click)="saveField('fullname')">Save</button>
                <button (click)="toggleEdit('fullname')">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>