<app-header></app-header>
<div>
    <nav>
      <ul>
        <li><a routerLink="/masters" class="btn btn-primary">Masters List</a></li>
        <li><a routerLink="/add-master" class="btn btn-primary">Add Master</a></li>
        <li> <a routerLink="/add-faculte" class="btn btn-primary">Add New Faculte</a></li>
        <a routerLink="['/add-candidature', masterId]" class="btn btn-success">Add Candidature</a>
        <a routerLink="['/candidatures', masterId]"class="btn btn-info">View Candidatures</a>
        

      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
