<div *ngIf="isLoading" class="loading">Loading...</div>
<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

<ul *ngIf="!isLoading && candidatures.length > 0" class="candidature-list">
  <li *ngFor="let candidature of candidatures">
    <strong>User: {{ candidature.user.fullname}}</strong>
    <p>Status: {{ candidature.etat }}</p>
    <p>Applied on: {{ candidature.dateDeSoumission | date }}</p>
  </li>
</ul>

<p *ngIf="!isLoading && candidatures.length === 0">
  No candidatures found for this master.
</p>
