@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA&family=Playwrite+VN:wght@100..400&display=swap');

:root {
    --primary: #ee5a6f;
    --secondary: #f29263;
    --gradient: linear-gradient(to right, var(--primary), var(--secondary));
  }

nav {
    background-color: var(--primary);
  border-bottom: 2px solid grey;
  /* Optional gradient */
    background: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brand {
    font-family: "Playwrite AU SA", serif;
    font-weight: bold;
    color: grey;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .nav-menu {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item a {
    color: grey;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    margin:  0 0.5rem;
  }
  
  .nav-item a:hover {
    color: #ffc107;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #343a40;
    
    border-radius: 4px;
    display: none;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-item {
    color: #fff;
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #007bff;
  }
  
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    color: grey;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  
    .nav-menu {
      display: none;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #007bff;
      flex-direction: column;
      padding: 1rem;
    }
  
    .nav-menu.active {
      display: flex;
    }
  }
  
  .unclickable {
    pointer-events: none;
    cursor: default;
    user-select: none;
  }