<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Cursus</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left Section -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/add" routerLinkActive="active">Acuille</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/facultes">List des Facultes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/masters">List des Master</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/list" routerLinkActive="active">Mes Candidature</a>
          </li>

        </ul>
  
        <!-- Right Section -->
        <div class="d-flex">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="javascript:void(0)"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-person-circle"></i>
                {{ username }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="/profile">Profile</a>
                </li>
                <li>
                  <a class="dropdown-item" (click)="logout()">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  