<nav>
    <a href="#" class="brand unclickable">Cursus</a>
    
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    
    <ul class="nav-menu" [class.active]="isMenuActive">
      <li class="nav-item">
        <a routerLink="/acuille" routerLinkActive="active" (click)="redirectBasedOnRole()">Accueil</a>
      </li>
      <li class="nav-item">
        <a routerLink="/facultes">Liste des Facultés</a>
      </li>
      <li class="nav-item">
        <a routerLink="/masters">Liste des Masters</a>
      </li>
      
      <li class="nav-item dropdown">
        <i class="bi bi-person-circle"></i>
        <a class="">{{ fullname }}</a>
        
            <ul class="dropdown-menu dropdown-menu-end">
                <li class="dropdown-item">
                    <a  routerLink="/profile">Profile</a>
                </li>
                <li class="dropdown-item">
                    <a  (click)="logout()">Logout</a>
                </li>
            </ul>
        
      </li>
    </ul>
  </nav>