<div class="container">
    <h2>Add Candidature</h2>
  
    <!-- Display success and error messages -->
    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  
    <form (ngSubmit)="onSubmit()" #candidatureForm="ngForm">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input
          type="text"
          id="nom"
          class="form-control"
          [(ngModel)]="candidature.nom"
          name="nom"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input
          type="text"
          id="prenom"
          class="form-control"
          [(ngModel)]="candidature.prenom"
          name="prenom"
          required
        />
      </div>
  
      
  
      <button type="submit" class="btn btn-primary" [disabled]="!candidatureForm.form.valid">
        Add Candidature
      </button>
    </form>
  </div>
  